exportPattern("^[[:alpha:]]+")
export(EM)
export(ECME)
export(MCEM)
export(PXEM)
export(MOPXEM)
export(DEM)
export(DECME)
export(DMCEM)
export(DPXEM)
export(DMOPXEM)
import(stats)
importFrom("stats","rnorm","runif")
import(MASS)
importFrom("MASS","ginv")
import(mvtnorm)
import(lava)
importFrom("lava","tr","vec")


